# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('./Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = [var for var in applicant_data_df]
categorical_variables.remove('STATUS')
categorical_variables.remove('ASK_AMT')
categorical_variables.remove('IS_SUCCESSFUL')

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder()

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit(applicant_data_df)

In [8]:
category_df = applicant_data_df.drop(columns=["STATUS", "ASK_AMT", "IS_SUCCESSFUL"], axis=1)
category_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS
0,T10,Independent,C1000,ProductDev,Association,0,N
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N
...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,N
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,N
34296,T3,CompanySponsored,C2000,Preservation,Association,0,N
34297,T5,Independent,C3000,ProductDev,Association,0,N
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,N

In [9]:
# Create a DataFrame with the encoded variables
dummies_df = pd.get_dummies(category_df)
# Review the DataFrame
dummies_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df.drop(
    columns=["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"], axis=1), dummies_df], axis=1)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = pd.DataFrame(encoded_df.IS_SUCCESSFUL)

# Display a sample of y
y

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 1 columns]

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
x = pd.DataFrame(encoded_df.drop(columns=["IS_SUCCESSFUL"], axis=1))

# Review the features DataFrame
x

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(x.columns)

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 2

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  int(number_input_features / 2)

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  int(hidden_nodes_layer1 / 2)

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation= "relu"))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation= "relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation= "relu"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 2)                 60

=================================================================
Total params: 8,557
Trainable params: 8,557
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics="accuracy")

In [25]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 1.2518 - accuracy: 0.5267
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.9955 - accuracy: 0.4806
Epoch 3/50
804/804 [==============================] - 3s 3ms/step - loss: 0.8350 - accuracy: 0.5459
Epoch 4/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7973 - accuracy: 0.5328
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.8405 - accuracy: 0.4539
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.8061 - accuracy: 0.4820
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7605 - accuracy: 0.4972
Epoch 8/50
804/804 [==============================] - 5s 7ms/step - loss: 0.7358 - accuracy: 0.5249
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.7177 - accuracy: 0.4935
Epoch 10/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6921 - accuracy: 0.4966
Epoch 11/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6917 - accuracy: 0.5335
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6759 - accuracy: 0.5039
Epoch 13/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6579 - accuracy: 0.4854
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6559 - accuracy: 0.4704
Epoch 15/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6544 - accuracy: 0.4427
Epoch 16/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6579 - accuracy: 0.4683
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6564 - accuracy: 0.4159
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6399 - accuracy: 0.4439
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6231 - accuracy: 0.4820
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6205 - accuracy: 0.5114
Epoch 21/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6245 - accuracy: 0.4538
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6215 - accuracy: 0.4346
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6265 - accuracy: 0.4395
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6214 - accuracy: 0.4333
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6191 - accuracy: 0.4196
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6186 - accuracy: 0.4662
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6171 - accuracy: 0.5014
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6088 - accuracy: 0.4783
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6041 - accuracy: 0.5100
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6092 - accuracy: 0.4958
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6126 - accuracy: 0.5117
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6066 - accuracy: 0.5384
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6009 - accuracy: 0.4976
Epoch 34/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5947 - accuracy: 0.5146
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5946 - accuracy: 0.4573
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6046 - accuracy: 0.4439
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6022 - accuracy: 0.4721
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5906 - accuracy: 0.4708
Epoch 39/50
804/804 [==============================] - 3s 3ms/step - loss: 0.6044 - accuracy: 0.5453
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5933 - accuracy: 0.5457
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5883 - accuracy: 0.4671
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5962 - accuracy: 0.4654
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5879 - accuracy: 0.4125
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5967 - accuracy: 0.5304
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5919 - accuracy: 0.5302
Epoch 46/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5856 - accuracy: 0.5217
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5862 - accuracy: 0.5216
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5856 - accuracy: 0.4478
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5926 - accuracy: 0.4635
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5849 - accuracy: 0.4539

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5881 - accuracy: 0.5236 - 439ms/epoch - 2ms/step
Loss: 0.5880952477455139, Accuracy: 0.5236151814460754

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path, save_format='h5')

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 2

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = number_input_features * 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

232

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim= number_input_features, activation= "relu"))


# Output layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1 / 8, activation = "relu"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 232)               27144

 dense_4 (Dense)             (None, 29)                6757

=================================================================
Total params: 33,901
Trainable params: 33,901
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer='adam', metrics=['accuracy'])

In [34]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1704 - accuracy: 0.0269
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0471 - accuracy: 0.0123
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1690 - accuracy: 0.0178
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1684 - accuracy: 0.0048
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1932 - accuracy: 0.0037
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1564 - accuracy: 0.0032
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2175 - accuracy: 0.0060
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3209 - accuracy: 0.0042
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3729 - accuracy: 0.0065
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3220 - accuracy: 0.0073
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3150 - accuracy: 0.0220
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2843 - accuracy: 0.0180
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3494 - accuracy: 0.0564
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3037 - accuracy: 0.0627
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2677 - accuracy: 0.0239
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 1.2667 - accuracy: 0.0367
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 1.2724 - accuracy: 0.0295
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 1.2508 - accuracy: 0.0424
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 1.3173 - accuracy: 0.0227
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 1.2196 - accuracy: 0.0763
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 1.1223 - accuracy: 0.0750
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0629 - accuracy: 0.0787
Epoch 23/50
804/804 [==============================] - 4s 5ms/step - loss: 1.0102 - accuracy: 0.0500
Epoch 24/50
804/804 [==============================] - 3s 4ms/step - loss: 1.0111 - accuracy: 0.0511
Epoch 25/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0185 - accuracy: 0.0231
Epoch 26/50
804/804 [==============================] - 3s 3ms/step - loss: 0.9841 - accuracy: 0.0147
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9259 - accuracy: 0.0361
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.9321 - accuracy: 0.0272
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.9075 - accuracy: 0.0242
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.9215 - accuracy: 0.0198
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.9083 - accuracy: 0.0213
Epoch 32/50
804/804 [==============================] - 3s 3ms/step - loss: 0.8800 - accuracy: 0.0337
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.8242 - accuracy: 0.0438
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7916 - accuracy: 0.0336
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7739 - accuracy: 0.0259
Epoch 36/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7749 - accuracy: 0.0708
Epoch 37/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7691 - accuracy: 0.0165
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7701 - accuracy: 0.0047
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7822 - accuracy: 0.0320
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7907 - accuracy: 0.0093
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7892 - accuracy: 0.0364
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7799 - accuracy: 0.0741
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7855 - accuracy: 0.0449
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 0.7598 - accuracy: 0.0209
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7618 - accuracy: 0.0190
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7546 - accuracy: 0.0115
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7645 - accuracy: 0.1226
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7661 - accuracy: 0.0773
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.7650 - accuracy: 0.0531
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7585 - accuracy: 0.0593

#### Alternative Model 2

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [37]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = number_input_features * 0.5

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58.0

In [38]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [39]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation='relu'))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 58)                6786

 dense_6 (Dense)             (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics="accuracy")

In [41]:
# Fit the model
nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5847 - accuracy: 0.7152
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5580 - accuracy: 0.7295
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5530 - accuracy: 0.7303
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7310
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7304
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7315
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7331
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7319
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7330
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7334
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7329
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7326
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7339
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7335
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7342
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7336
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7343
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7338
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7335
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7343
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7345
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7341
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7359
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7353
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7354
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7353
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7347
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7352
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7354
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7372
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7347
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7358
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7353
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7339
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7355
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7366
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7372
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7354
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7364
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7370
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7358
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7367
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7363
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7359
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7373
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7363
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7368
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7372
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7362
Epoch 50/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5378 - accuracy: 0.7381

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [42]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5881 - accuracy: 0.5236 - 391ms/epoch - 1ms/step
Loss: 0.5880952477455139, Accuracy: 0.5236151814460754

In [43]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.7599 - accuracy: 0.0323 - 953ms/epoch - 4ms/step
Loss: 0.759940505027771, Accuracy: 0.032303206622600555

In [44]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.5643 - accuracy: 0.7304 - 866ms/epoch - 3ms/step
Loss: 0.5642719864845276, Accuracy: 0.7303789854049683

### Step 3: Save each of your alternative models as an HDF5 file.

In [45]:
# Set the file path for the first alternative model
file_path = Path('./Resources/alt_model_1')

# Export your model to a HDF5 file
nn_A1.save(file_path, save_format='h5')

In [46]:
# Set the file path for the second alternative model
file_path = Path('./Resources/alt_model_2')

# Export your model to a HDF5 file
nn_A2.save(file_path, save_format='h5')